extends master.pug

block content
  h2 Queue:
    div
      ul#msgs
        each val, index in chats
          li
            a(href=val) #{index}

  script.
    $(function () {
      let socket = io('/panel');

      socket.on('joined-as-user', function(room) {
        $('#msgs').append($('<li><a href="/messages/' + room + '">User chat ' + room + '</a></li>'));
      });
    });
