extends master.pug

block content
  h2 Join chat
  <ul id="messages"></ul>


  script.
    $(function () {
      let socket = io('/chat');

      const room = "#{chatRoom}";

      socket.emit('join', room);

      $('form').submit(() => {
        const msg = $('#message').val();

        socket.emit('message', $('#message').val());

        // $('#messages').append($('<li>').text(msg));

        $('#message').val('');

        return false;
      });

      socket.on('message', function(msg) {
        $('#messages').append($('<li>').text(msg));
      });
    });
