extends master.pug

block content
  h2 Your chat
  <form>
    <input type="text" name="name" id="name" placeholder="Your name" />
    <input type="text" name="email" id="email" placeholder="Your email" />
    <input type="text" name="question" id="email" placeholder="Your question" />
    <input type="submit" name="message_btn" value="Send" />
  </form>

  script.
    $(() => {
      $('form').submit(() => {
        $.ajax({
          type: "POST",
          url: 'http://localhost:8080/',
          data: {
            name: $('#name').val(),
            email: $('#email').val()
          }
        })
        .done((data) => {
          let socket = io('/chat');
          //- socket.emit('user-joined', data.roomId);

          window.location.href = data.urlSegment;
        })
        .fail((error) => {
          console.log(error.msg);
        });

        return false;
      });
    });
